doctype html 
html
    head 
        title Pocetna        
        script(type="text/javascript" src="front.js")
        link(rel="stylesheet" type="text/css" href="style/style.css")
    
    body
        div.container 
            h1 Node.js/express/pug vezba
            p Moje ime je #{moje_ime}
            a(href="/svi_proizvodi") Svi proizvodi