doctype html 
html
    head 
        title Pocetna        
        script(type="text/javascript" src="front.js")
        link(rel="stylesheet" type="text/css" href="style/style.css")
    
    body
        div.container 
            h1 Node.js/express/pug vezba
            if moje_ime
                p Zdravo #{moje_ime}
            else 
                p Zdravo
            a(href="/svi_proizvodi") Svi proizvodi
            br
            a(href="/login") Login 
            br
            a(href="/register") Register 
            br
            a(href="/logout") Logout  