doctype html 
html
    head 
        title Pocetna        

    body 
        h1 Svi proizvodi iz baze 

        table(border="1")
            thead 
                th Naziv
                th Cena
                th Opis
                th(colspan="2") Opcije
            tbody 
                each covek in coveci 
                    tr 
                        td= covek['naziv']
                        td= covek['cena']
                        td= covek['opis']
                        td
                            a(href="/update_proizvod/"+covek['id']) Update 
                        td
                            a(href="/delete_proizvod/"+covek['id']) Delete

        a(href="/dodaj_proizvod") Dodaj proizvod 