doctype html 
head 
    title Update 
body 
    h1 Update proizvod 
    form(action="/update_proizvod" method="POST")
        label(for="id") Id: 
        input(type="text" name="id" value=proizvod['id'] readonly) 
        br
        label(for="naziv") Naziv:
        input(type="text" name="naziv" value=proizvod['naziv'])
        br
        label(for="cena") Cena:
        input(type="text" name="cena" value=proizvod['cena'])
        br
        label(for="opis") Opis:
        input(type="text" name="opis" value=proizvod['opis'])
        br
        input(type="submit" value="Update") 